body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.first-part {
    background-image: url(../images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.header-part {
    padding-top: 50px;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family:'Bangers', cursive;;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: orangered;
    padding: 15px 30px;
    border-radius: 5px;

}

.button {
    text-align: center;
    padding: 30px;
}

.amount-line {
    border-bottom: 1px solid;
    margin-top: 50px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 50px;
    text-align: center;
}

.amount-size {
    font-size: 40px;
}

.donate-part {
    padding-top: 100px;

}

.middle-part {
    margin-top: 100px;
}

.plan-part {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.food-part {
    width: 33%;
    padding: 25px;
    margin-left: 250px;
    background-color: lightblue;
}

.shelter-part {
    width: 33%;
    padding: 25px;
    background-color: lightgoldenrodyellow;

}

.education-part {
    width: 33%;
    padding: 25px;
    margin-right: 200px;
    background-color: lightpink;

}
.end-part{
    text-align: center;
    padding: 50px;
    background-color: lemonchiffon;
    box-sizing: content-box;
}
.form-part{
    margin-top: 100px;
    margin-bottom: 100px;
}
.end-line{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
}
.footer-part{
    background-color: lightslategray;
    padding-bottom: 10px;
}
