body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
section{
    background-image: url(../images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.header-part{
    padding-top: 50px;
}
h1 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: springgreen;
    padding: 15px 30px;
    border-radius: 5px;
    
}
.button{
    text-align: center;
    padding: 30px;
}
