body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
section{
    background-image: url(../images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.header-part{
    padding-top: 50px;
}
h1 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
    font-weight: 400;

}
a{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: orangered;
    padding: 15px 30px;
    border-radius: 5px;
    
}
.button{
    text-align: center;
    padding: 30px;
}
.amount-line{
    border-bottom: 1px solid;
    margin-top: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
}
h3{
    font-size: 50px;
    text-align: center;
}

.amount-x{
    display: flex;
    width: 50%;
}
.amount-y{
    display: flex;
    width: 50%;
}
.amount-size{
    font-size: 40px;
}
.donate-part{
    padding-top: 100px;

}
    
